*{margin: 0; padding: 0; box-sizing: border-box;}
ul, li{list-style: none;}
body{font-family: 'Noto Sans KR', sans-serif; text-align: center; overflow-x:hidden; height: 100%;}
img{vertical-align: inherit;}
a{text-decoration: none; color: inherit;}

.background { 
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
    background-image: url(../img/photo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #707070;
    filter: blur(7px);
}

.progress{
  position: fixed;
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
  background-color: rgb(179, 179, 179);
  z-index: 10;
}

.bar{
  position: absolute;
  width: 0%;
  height: 5px;
  top: 0;
  left: 0;
  background-color: rgb(83, 83, 83);
  z-index: 11;
}
.header{
  width: 100%;
  height: 300px;
  background: rgb(240, 240, 240);
  border-bottom: 1px solid #000;
}
.action{
  border-bottom: 1px solid #000;
}

.logo{
  width: 400px;
  height: 150px;
  display: block;
  margin: 0 auto;
}
.menu{
  width: 500px;
  line-height: 50px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  
}
.menu a{
  color: black;
  font-size: 20px;
}
main {
  flex: 1 1 70%;
}

.fix {
  position:fixed;
  animation: down 0.5s ease
}

@keyframes down {
  0%{
  transform: translateY(-50px)
}
  100%{
  transform: translateY(0px)
}
}

button{
    width: 150px;
    height: 50px;
    background-color: #EFEFEF;
    border-radius: 50px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.box{
  width: 400px;
  height: 800px;
  margin: 0 auto;
}

.button{
  display: flex;
  width: 250px;
  justify-content: space-around;
  margin: 0 auto;
  padding: 30px;
}

.year-month-day{
  width: 250px;
  line-height: 50px;
  background: #fff;
  border: 2px solid black;
  border-radius: 50px;
  margin: 10px auto;
  font-size: 20px;
}

.tab .active{
  color: red;
}

.box article{
  display: none;
}
.box article.active{
  display: block; 
}

.tab{
  width: 200px;
  line-height: 50px;
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  padding: 15px;
}

.tab span{
  font-size: 25px;
}

article{
  margin: 30px auto;
}

.profits, .spending{
  display: flex;
  justify-content: space-around;
  width: 300px;
  line-height: 50px;
  margin: 0 auto;
  font-size: 20px;
  padding: 5px;
}